/*
  Add style rules for the body of a your webpage.
  Note: These rules will be applied to all elements.
*/
body {

    /* Add a background color or image */
    background-color: mediumseagreen;
    background-image: url('');

    /* Customize the font, size, and color for text*/
    font-family: Arial;
    font-size: 16px;
    color: black;

    /* Adjust the padding and margins */
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

}



/*
  Style Text: Add style rules for any headings (h1-6),
  paragraphs and links
*/

h1 {
  background-color: mediumseagreen;
  text-align: center
}

/* h2 {
 
}

h3 { */

/* } */
h4{
  text-align: left;
}

/* p {

}

a { */

/* } */
a:link {
  color: blue;
}
a:hover {
  color: blueviolet;
}
a:active{
  color: green;
}
a:visited {
  color: #0033ff;
}

/*
  Style Lists: Styles added to the ol or ul style rulesets affect the entire
  list, while styles added to the li style ruleset affect individual list items
*/


/* ol {

}

ol li {

}


ul {

}

ul li {

} */


/*
  Style Buttons: Add style rules for any headings (h1-6),
  paragraphs and links
*/


button {
  background-color: salmon; 
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px 32px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: -50px;
  position: relative;
  /*right: 50%;*/
  top: 50%;
}
.button1 {
    display: inline-block;
    position: relative;
    left: -145%; 
    top: 56.4%;
    margin-right: 2%;
    margin-top: 10%;
}
.button2{
  position: relative;
  left: -60%;
  margin-bottom: 25%;
}


/* Select and style elements by class name or ID */


/* Example: This styles elements with class="header"*/
.header-container {
 padding-top: 40 px;
 margin-bottom: 20px;
 text-align: left;
 /*margin-top: 100px;*/
 display: flex;
 flex-direction: row;

}


/* Example: This styles an element with an id="header-img" */
#header-img {
  margin-left: 20px; 
  margin-right: 20px; 
  width: 100%; 
  max-width: 5000px; 
}
.header-button {
    background-color: #4CAF50; 
    text-align: center; 
    font-size: 16px; 
    color: white; 
    padding: 10px 20px;
    margin: 500 px; 
    border: none; 
    cursor: pointer; 
}

/* Part 1: Navbar */

/* General style rule set for all items in ul */
.navbar ul {
    list-style: none;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
    width: 100%;
    margin-bottom: 0;
    z-index: 1000;
}

/* Style rule set for individual li */
.navbar ul li {
    float: left;
    margin: 10px;
    /*margin-left: 20px;*/
}


/* Style rule set for individual li link */
.navbar ul li a {
    font-family: Arial;
    color:white;
    font-size: 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    padding: 2px;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
    font-weight: bold;
}




/* Part 2: Flexbox */

/* General style rule set for flex container */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


/* Style rules for flex-item 1 */
/* .flex-item:nth-of-type(1) {

} */

/* Style rules for flex-item 2 */
/* .flex-item:nth-of-type(2) {

} */

/* Style rules for flex-item 3 */
/* .flex-item:nth-of-type(3) {

} */


/* Style set for all flex-items */
.flex-item {
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
}
.flex-direction{
  flex-direction: column;
  
}
hr {
    border: none;
    border-top: 2px solid black; 
    font-weight: bold;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: salmon;
  text-align: center;
}

/* Add style to button */
/* #theme-button {

} */


/* Customize Dark Mode Theme */
.dark-mode {
 background-color: black;
 color: white;

}
#theme-button {
    text-decoration: underline; 
    font-family: Arial, sans-serif;
    color: white; 
    padding: 10px 20px; 
    border: 2px solid red; 
    border-radius: 5px; 
}
.petition-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100;
  padding-right: 10px;
}
.petition-for support{
  width: 55%;
  padding-right: 2px;
}
.signatures{
  width: 45%;
  padding-right: 20px;
}
/* .signature{
} */
#sign-now-button {
  font-size: 8px; /* Decrease font size */
  padding: 6px; /* Decrease padding */
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}
.revealable.active{
  opacity: 1;
  transform: translateY(0);
}
.revealable{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}
.js-scroll.scrolled {
  opacity: 1;
}
#reduceMotionButton{ 
  font-family: Arial, sans-serif;
  color: white; 
  padding: 10px 20px; 
  border: 2px solid red; 
  border-radius: 5px; 
}

.modal {
  display: none; /* hides the modal from view by default*/
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
  flex-direction: column; /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
}

/* box that contains all the content and images */
.modal-content {
  background-color: lightsteelblue; /* update the colors and font sizes as you like */
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex; /* adds flexbox to center all items */
  justify-content: center;
  align-items: center;
}

#thanks-modal-content {
  width: 20rem; /* sets a default width for the text container */
}

#modal-text-container {
  display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#image:hover{
  transform: scale3d(1.5, 1.5, 1.5);
  
}

.image-container {
    display: flex;
}

.image-container > div {
    margin-right: 20px; /* Adjust the spacing between images */
}
#close-modal-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

